//CYAN
$c_90: #1c272b;
$c_80: #2b3c42;
$c_70: #3b525a;
$c_60: #4b6872;
$c_50: #628896;
$c_40: #84a3af;
$c_30: #a8bec6;
$c_20: #c0d0d6;
$c_10: #d8e2e5;
//RED
$r_90: #760000;
$r_80: #9d0000;
$r_70: #c40000;
$r_60: #eb0000;
$r_50: #ff1313;
$r_40: #ff4e4e;
$r_30: #ff8989;
$r_20: #ffb0b0;
$r_10: #ffebeb;
//YELLOW
$y_90: #b1b100;
$y_80: #d8d800;
$y_70: #FFFF00;
$y_60: #ffff3b;
$y_50: #ffff62;
$y_40: #ffff9d;
$y_30: #ffffc4;
$y_20: #ffffd8;
$y_10: #ffffec;
//GRAY
$gr_100: #3c3c3c;
$gr_90: #4d4d4d;
$gr_80: #616161;
$gr_70: #757575;
$gr_60: #898989;
$gr_50: #9d9d9d;
$gr_40: #b1b1b1;
$gr_30: #c5c5c5;
$gr_20: #d9d9d9;
$gr_15: #e6e6e6;
$gr_10: #ededed;
$gr_09: #f0f0f0;
$gr_08: #f9f9f9;
$gr_05: #f2f2f2;
$gr_03: #f8f8f8;
$gr_02: #f8f8f8;
$gr_0: #f9fafb;
//BLUE
$b_90: #003186;
$b_80: #0040ad;
$b_70: #004fd4;
$b_60: #005efb;
$b_50: #3782ff;
$b_40: #5e9bff;
$b_30: #85b3ff;
$b_20: #accbff;
$b_10: #d3e4ff;
//ORANGE
$o_90: #a12d10;
$o_80: #c53714;
$o_70: #e84118;
$o_60: #f0561f;
$o_50: #ff6c37;
$o_40: #ff916a;
$o_30: #fac0ad;
$o_20: #FDE3DB;
$o_10: #fff7f4;
//GREEN
$g_90: #145a14;
$g_80: #1b7a1b;
$g_70: #43a843;
$g_60: #3dcc4b;
$g_50: #4bb34b;
$g_40: #74c574;
$g_30: #9ed79e;
$g_20: #bae2ba;
$g_10: #d6eed6;
$g_05: #f0fbf0;

$w: #ffffff;
$b: #000000;

$collider: #22272e;

$icon-collider: url("/assets/blade/img/_layouts/_prototype/icons/icon-collider.svg");

$icon-dark: url("/assets/blade/img/_layouts/_prototype/icons/icon-dark.svg");
$icon-light: url("/assets/blade/img/_layouts/_prototype/icons/icon-light.svg");

$icon-exp: url("/assets/blade/img/_layouts/_prototype/icons/icon-exp.svg");
$icon-coin: url("/assets/blade/img/_layouts/_prototype/icons/icon-coin.svg");