@import "variables";

table {
  width: 100%;

  border-collapse: collapse;

  thead {
    color: $c_90;
    text-align: left;

    tr {
      line-height: 2.5rem;

      border-bottom: 0.5px solid $c_90;

      th {
        padding: 0 6px;
      }

    }
  }

  tbody {
    &.bold-last-border tr:last-child {
      border-bottom: 0.5px solid $c_90;
    }

    tr {
      line-height: 2.5rem;

      border-bottom: 0.5px solid $gr_30;
      transition: all .1s;

      &.title {
        font-weight: 500;
        text-align: center;
        line-height: 3rem;

        &:hover {
          background-color: transparent;
        }
      }

      td {
        padding: 0 6px;
      }

      &.without-last-border:last-child {
        border-bottom: none;
      }

      &:nth-child(2n) {
        background-color: $gr_03;
      }

      &.without-stripes:nth-child(2n) {
        background-color: transparent !important;
      }

      &:hover {
        background-color: $gr_09;
      }

      &.without-hover:hover {
        background-color: transparent !important;
      }
    }
  }
}