@import "resources/_assets/scss/variables";

.comments-enter-active,
.comments-leave-active {
  transition: all 0.5s;
}

.comments-enter-from,
.comments-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.comments {
  position: relative;

  width: 420px;
  overflow-y: auto;
  height: 100%;

  color: #1c272b;

  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 30px 25px rgb(0 0 0 / 25%);

  padding: 30px 25px 20px 25px;

  &__list {
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 12px;

    &-empty {
      font-size: 24px;
      text-align: center;
    }

    &-data {
      display: flex;
      flex-direction: column-reverse;
      gap: 12px;
    }
  }

  &__content {
    &-wrapper {
      display: flex;
      flex-direction: column;

      border: 1px solid $gr_60;
      border-radius: 6px;

      padding: 12px;
    }

    &-title {
      display: flex;
      justify-content: space-between;
    }

    &-user {
      font-size: 18px;
      color: $o_50;

      & span {
        font-size: 14px;
        color: $gr_60;
      }
    }

    &-date {
      color: $gr_60;
      font-weight: 300;
    }

    &-content {
      padding-top: 16px;
    }
  }

  &__load-more {
    display: flex;
    justify-content: center;

    padding: 6px 12px 12px 12px;
  }

  &__sort {
    padding: 12px;

    &-helper {
      font-weight: 400;
      font-size: 14px;

      margin: 16px 0;
    }

    &-variant {
      color: $o_50;

      cursor: pointer;

      margin-right: 6px;
    }
  }

  &__new {
    padding: 12px;

    &-button {
      padding: 0 12px 12px 0
    }
  }

  &__auth {
    margin-top: 12px
  }
}


